*{
    outline: none;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #eee;
}
#app {
    height:100%;
    overflow: hidden;
    position: relative;
}
p{
    padding: 0.5em;
    display: block;
    width: 100%;
    overflow-wrap: break-word;
}
.main-cont{
    display: block;
    white-space: nowrap;
    padding: 15px;
    height: calc(100% - 56px);
    overflow-x: scroll;
}
.border-bottom{
    border-bottom: 1px solid #eee;
}

.no-margin{
    margin: 0;
}
.border{
    border: 1px solid #ddd;
}
.shadow{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.show{
    display: block;
}
.hide{
    display: none;
}

.dashed{
    border: 1px dashed #ccc;
    padding: 20px;
    border-radius: 3px;
}

.header{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 55px;
}
.btn{
    font-size: 20px;
    background-color: white;
    padding: 5px 10px;
    width: 150px;
    text-align: center;
    text-transform: capitalize;
    background-color: rgb(29, 211, 143);
    cursor: pointer;
    transition: opacity 0.5s;
}
.btn.addlist {
    background-color: white;
    color: rgb(29, 211, 143);
    margin-left: 10px;
}
.btn.remove {
    color: #c20000;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 5px;
    border: none;
    text-align: center;
    line-height: 18px;
}
.btn.add {
    color: white;
    background-color:rgb(29, 211, 143);
    margin-top: 8px;
    width: 100%;
}
.btn:hover{
    opacity: 0.7;
}
.list{
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 240px;
    max-height: 100%;
    /* min-width: 12em; */
    /* max-height: calc(100% - 56px - 1.5em); */
    overflow: auto;
    border-radius: 3px;
    background-color: #fff;
    margin-left: 15px;
}
.list:first-of-type{
    margin-left: 0;
}
.items-container {
    padding: 15px;
    max-height: calc(100% - 55px);
    overflow: scroll;
}
.item{
    background-color: #fff;
    border-radius: 3px;
}

textarea + .item, textarea + .drag-preview{
    padding-top: 15px;
}
textarea + .item + textarea, .drag-preview + .item {
    margin-top: 15px;
}

input[type = text]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-left: -1px;
}
textarea{
    width: 100%;
    font-size: 0.95em;
    padding: 0.5em;
    resize: vertical;
}
.list-title-input{
    font-size: 1em;
    font-weight: bold;
    width: 100%;
}